/* logo字体 */
@font-face {
	font-family: "Lucida Handwriting";
	src: url("/fonts/LHANDW.TTF");
	/* font-display: block; */
}
.VPNavBarTitle,
.VPHero .name span,
.VPHero .text {
	font-family: "Lucida Handwriting";
}
